@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nanum+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: calc(100% - 300px);
  flex-grow: 1;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.markdown h1 {
  @apply font-bold text-4xl pb-4 scroll-mt-16;
}

.markdown h2 {
  @apply font-bold text-3xl mt-4 pb-4 border-b border-gray-500 scroll-mt-16;
}

.markdown h3 {
  @apply font-bold text-xl scroll-mt-16;
}

.markdown h4 {
  @apply font-bold text-lg scroll-mt-16;
}

.markdown h5 {
  @apply font-bold scroll-mt-16;
}

.markdown h6 {
  @apply scroll-mt-16;
}

.markdown a {
  @apply text-primary-600 dark:text-primary-400 underline;
}

.markdown p {
  @apply py-4;
}

.markdown .lead {
  @apply text-xl;
}

.markdown .ol {
  @apply list-decimal px-4 space-y-2 mb-4;
}

.markdown .ul {
  @apply list-disc px-4 space-y-2 mb-4;
}

.markdown blockquote {
  @apply p-4 my-4 bg-gray-50 border-l-4 border-gray-300 italic font-medium
    leading-relaxed text-gray-900 dark:border-gray-500 dark:bg-gray-800
    dark:text-white;
}

.markdown code {
  @apply p-1 bg-gray-50 dark:bg-gray-800;
}

.markdown pre {
  @apply my-6 py-2 px-4 bg-gray-50 dark:bg-gray-800 rounded overflow-x-auto;
}

.markdown pre > code {
  @apply p-0;
}

.markdown table {
  @apply table-auto;
}

.markdown th {
  @apply font-bold text-center;
}

.markdown td {
  @apply p-2 border border-solid border-gray-500 dark:border-gray-400;
}

.markdown ul {
  @apply list-disc list-inside lg:list-outside lg:mx-6;
}

.markdown img {
  @apply my-2;
}

.markdown figure {
  @apply py-4;
}

.markdown figure > img {
  @apply my-0;
}

.markdown figcaption {
  @apply text-center py-4 text-gray-500;
}

.markdown .anchor {
  @apply float-left -ml-6 pr-1 leading-4;
}

.markdown svg.octicon {
  @apply fill-current;
}

.markdown .anchor > .octicon {
  @apply inline;
}

.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  @apply invisible mt-2;
}

.markdown h1:hover .octicon-link,
.markdown h2:hover .octicon-link,
.markdown h3:hover .octicon-link,
.markdown h4:hover .octicon-link,
.markdown h5:hover .octicon-link,
.markdown h6:hover .octicon-link {
  @apply visible;
}

.markdown .markdown-alert {
  @apply p-4 mb-2 border-l-4;
}

.markdown .markdown-alert p {
  @apply py-1 mb-4 last:mb-0;
}

.markdown .markdown-alert .markdown-alert-title {
  @apply flex font-bold items-center;
}

.markdown .markdown-alert-note {
  @apply border-l-blue-600 dark:border-l-blue-500;
}

.markdown .markdown-alert-note .markdown-alert-title {
  @apply text-blue-600 dark:text-blue-500;
}

.markdown .markdown-alert-tip {
  @apply border-l-green-600;
}

.markdown .markdown-alert-tip .markdown-alert-title {
  @apply text-green-600;
}

.markdown .markdown-alert-important {
  @apply border-l-purple-500;
}

.markdown .markdown-alert-important .markdown-alert-title {
  @apply text-purple-500;
}

.markdown .markdown-alert-warning {
  @apply border-l-yellow-600 dark:border-l-yellow-400;
}

.markdown .markdown-alert-warning .markdown-alert-title {
  @apply text-yellow-600 dark:text-yellow-400;
}

.markdown .markdown-alert-caution {
  @apply border-l-red-600;
}

.markdown .markdown-alert-caution .markdown-alert-title {
  @apply text-red-600;
}

.highlight .token {
  @apply text-green-600 dark:text-green-400;
}

.highlight .token.attr-name {
  @apply text-blue-500;
}

.highlight .token.class-name {
  @apply text-blue-600 dark:text-blue-400;
}

.highlight .token.comment {
  @apply text-green-600 dark:text-green-400;
}

.highlight .token.function {
  @apply text-orange-600 dark:text-orange-400;
}

.highlight .token.keyword {
  @apply text-purple-700 dark:text-purple-500;
}

.highlight .token.number {
  @apply text-purple-600 dark:text-purple-400;
}

.highlight .token.operator {
  @apply text-yellow-800 dark:text-yellow-500;
}

.highlight .token.punctuation {
  @apply text-black dark:text-white;
}

.highlight .token.regex .token {
  @apply text-yellow-600 dark:text-yellow-400;
}

.highlight .token.regex .token.regex-delimiter {
  @apply text-red-900 dark:text-red-600;
}

.highlight .token.string {
  @apply text-yellow-700 dark:text-yellow-400;
}

.highlight .token.tag {
  @apply text-yellow-800 dark:text-yellow-500;
}
